body{
    background: white;
    overflow-x: hidden;
}

/*---------------------------------CONTENEUR MENU---------------------------------*/
/*--------------------------------                --------------------------------*/

#menu_container{
    background: #0602028c;
    overflow-y: hidden;
    margin : -20px -20px;
    height: 120px;
    display: flex;
}
#bicycle {
    background: wheat;
    color: wheat;
    margin-top: 5px;
    padding-top: 15px;
    padding-left: 22px;
    margin-left: 12px;
    height: 100px;
    width: 144px;}
#bicycle img {
    width: 80px;
    background-color: wheat;
    border-radius: 20px;
}
#menu_container div:nth-child(2){
    display: flex;
    flex-direction: column;
    width: 100%;
}

h1{
        color: wheat;
        font-family: 'Lobster', cursive;
        font-size: 3em;
        text-shadow: 0 0 3px #da1414, 0 0 5px black;
        margin-top: 5px;
        width: 100%;
        text-align: center;
}
nav{
    display: flex;
    list-style-type: none;
    width: 100%;
    padding-left: 0px;
    margin-top: -19px;
    justify-content: space-around;
    align-items: center;
}
.menu{
    font-family: 'Lobster', cursive;
    display: flex;
}
.menu img{
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.menu #Fonctionnement{
    margin-right: 20px;
}
.menu a {
    color:wheat;
    text-decoration: none;
    font-size: 1.3em;
}
/*------------------------------------CONTENEUR SLIDES---------------------------------*/
/*-----------------------------------                  --------------------------------*/

#slider_container {
    
    background: white;
    width: 700px;
    height: 480px;
    /*overflow: hidden;*/
    margin: auto;
    margin-top: 80px;
    border-bottom: 4px solid #969191;
}

/*----------------------------------1-----SLIDES-------------------------------------*/
.slides {
    position: relative;
    width: 700px;
    height: 480px;
    margin: auto;
    opacity: 0;
    
}
/*------------1.1----SLIDE 1--------------*/
#slides_1{
    z-index: 5;
    opacity: 1;
    display: flex;
}
.barre{
    background: white;
    width: 390px;
    height: 236px;
    position: absolute;
    top: 23px;
    left: 54px;
}
.barre_2{
    width: 6px;
    height: 236px;
    position: absolute;
    background: black;
    left: 441px;
    transform: rotate(1deg);
    top: 23px;
    z-index: 2;
}
.barre_3{
    width: 6px;
    height: 236px;
    position: absolute;
    background: black;
    left: 52px;
    transform: rotate(-1deg);
    top: 23px;
    z-index: 2;
}

.barre_4{
    position: absolute;
    width: 40px;
    height: 15px;
    background: black;
    top: 264px;
    left: 232px;
}

#slides_1 #pc{
    width: 500px;
    height: 380px;
}

#slides_1 #carte_slide1{
    width: 271px;
    height: 190px;
    margin-top: 23px;
    position: absolute;
    right: 376px;
    box-shadow: 3px 2px 15px;
}
#slides_1 #resa_slide1{
    width: 390px;
    top: 213px;
    height: 46px;
    position: absolute;
    opacity: 0.5;
    left: 54px;
}
#slides_1 #infos_stations_slide1{
    width: 120px;
    position: absolute;
    height: 191px;
    background: white;
    left: 324px;
    top: 23px;
    opacity: 0.5;
}

#slides_1 #marqueur_velo{
    position: absolute;
    width: 60px;
    height: 51px;
    right: 387px;
    top: 50px;
}
#slides_1 #loupe {
    position: absolute;
    width: 92px;
    height: 97px;
    right: 347px;
    top: 15px;
    transform: rotate(-73deg)

}
#slides_1 #curseur_souris{
    width: 25px;
    height: 24px;
    position: absolute;
    top: 101px;
    right: 399px;
}
/*------------1.2----SLIDE 2--------------*/

#slides_2 #pc{
    width: 500px;
    height: 380px;
}

#slides_2 #carte_slide2{
    width: 271px;
    height: 190px;
    margin-top: 23px;
    position: absolute;
    right: 376px;
    opacity: 0.4;
}
#slides_2 #resa_slide2{
    width: 390px;
    top: 213px;
    height: 46px;
    position: absolute;
    opacity: 0.5;
    left: 54px;
}
#slides_2 #infos_stations_slide2{
    width: 120px;
    position: absolute;
    height: 191px;
    background: white;
    left: 324px;
    top: 23px;
    box-shadow: 3px 2px 15px;
}
#slides_2 #loupe {
    position: absolute;
    width: 92px;
    height: 97px;
    right: 245px;
    top: 52px;
    transform: rotate(-73deg)

}
#slides_2 #curseur_souris{
    width: 25px;
    height: 24px;
    position: absolute;
    right: 289px;
    top: 191px;
}

#slides_2{
    z-index: 4;
    margin-top: -480px;
    background-color: white;
    display: flex;
}
.img p{
    color: white;
    margin-left: 20px; 
}
/*------------1.3----SLIDE 3--------------*/

#slides_3{
    z-index: 3;
    margin-top: -480px;
    display: flex;
}
#slides_3 #pc{
    width: 500px;
    height: 380px;
}

#slides_3 #carte_slide3{
    width: 271px;
    height: 190px;
    margin-top: 23px;
    position: absolute;
    right: 376px;
    opacity: 0.4;
}
#slides_3 #resa_slide3{
    width: 390px;
    top: 213px;
    height: 46px;
    position: absolute;
    left: 54px;
    opacity: 0.5;
}
#slides_3 #partie_canvas{
    width: 124px;
    position: absolute;
    height: 191px;
    background: white;
    left: 320px;
    top: 23px;
    box-shadow: 3px 2px 15px;
}
#slides_3 #img_canvas{
    position: absolute;
    width: 124px;
    height: 138px;
    top: 75px;
    left: 321px;
}
#slides_3 #loupe {
    position: absolute;
    width: 226px;
    z-index: 76;
    height: 227px;
    right: 258px;
    top: 18px;
    transform: rotate(-191deg);
}
#slides_3 #curseur_souris{
    width: 13px;
    height: 13px;
    position: absolute;
    top: 174px;
    right: 288px;
}

/*------------1.4----SLIDE 4--------------*/

#slides_4{
    z-index: 2;
    margin-top: -480px;
    display: flex;
}
#slides_4 #pc{
    width: 500px;
    height: 380px;
}

#slides_4 #carte_slide4{
    width: 271px;
    height: 190px;
    margin-top: 23px;
    position: absolute;
    right: 376px;
    opacity: 0.4;
}
#slides_4 #resa_slide4{
    width: 390px;
    top: 199px;
    height: 64px;
    z-index: 1;

    position: absolute;
    left: 54px;
    box-shadow: 3px 2px 15px;
}
#slides_4 #resa_zoom{
    height: 21px;
    position: absolute;
    width: 92px;
    z-index: 2;
    margin-top: 216px;
    margin-left: -324px;
}
#slides_4 #infos_stations_slide4{
    width: 120px;
    position: absolute;
    height: 191px;
    background: white;
    left: 324px;
    top: 23px;
    opacity: 0.5;
}

#slides_4 #marqueur_velo{
    position: absolute;
    width: 60px;
    height: 51px;
    right: 387px;
    top: 50px;
}
#slides_4 #loupe {
    position: absolute;
    width: 138px;
    height: 147px;
    right: 370px;
    top: 150px;
    transform: rotate(-73deg);
    z-index: 2;

}
#slides_4 #curseur_souris{
    width: 25px;
    height: 24px;
    position: absolute;
    top: 101px;
    right: 399px;
}

/*------------1.5----SLIDE 5--------------*/

#slides_5{
    z-index: 3;
    margin-top: -480px;
    display: flex;
}
#slides_5 #pc{
    width: 500px;
    height: 380px;
}

#slides_5 #carte_slide5{
    width: 271px;
    height: 190px;
    margin-top: 23px;
    position: absolute;
    right: 376px;
    opacity: 0.4;
}
#slides_5 #resa_slide5{
    width: 390px;
    top: 213px;
    height: 46px;
    position: absolute;
    left: 54px;
    opacity: 0.5;
}
#slides_5 #annuler_resa_slide5{
    width: 120px;
    position: absolute;
    height: 191px;
    background: white;
    left: 324px;
    top: 23px;
    opacity: 1;
}
#slides_5 #partie_canvas{
    width: 124px;
    position: absolute;
    height: 191px;
    background: white;
    left: 320px;
    top: 23px;
    box-shadow: 3px 2px 15px;
}
#slides_5 #img_canvas{
    position: absolute;
    width: 124px;
    height: 138px;
    top: 75px;
    left: 321px;
}
#slides_5 #loupe {
    position: absolute;
    width: 226px;
    z-index: 76;
    height: 227px;
    right: 258px;
    top: 18px;
    transform: rotate(-191deg);
}
#slides_5 #curseur_souris{
    width: 13px;
    height: 13px;
    position: absolute;
    top: 174px;
    right: 288px;
}
.slides img {
    width: 700px;
    height: 480px;
}

/*--flèches gauche, droite, btn pause et btn play du Slider--*/

#arrow{
    position: relative;
    top: -255px;
    display: flex;
}

#fa-angle-left{
    position: relative;
    z-index: 6;
    margin-left:  -18px;
    margin-top: -41px;
    color: #9e9e9ec9;
    border: none;
    background: white;
}

#fa-angle-left:focus{
    outline-color: white;
    color : orange;
}
.fa-angle-left{
    font-size: 81px;
}
#fa-angle-right{
    position: absolute;  
    z-index: 6;
    right: -35px;
    margin-top: -41px;
    color: #9e9e9ec9;
    border:none;
    background: white;
}
#fa-angle-right:focus{
    outline-color: white;
    color : orange;
}
.fa-angle-right{
    font-size: 81px;
}

#play_pause{
    position: relative;
    z-index: 6;
    display: flex;
    margin-left: 294px;
    top: -134px;
}

#pause{
    color: #9e9e9ec9;
    border: none;
    background: white;
}
#pause:focus{
    outline-color: white;
    color : orange;
}
.fa-pause{
    font-size: 45px;
}
#play{
    color: #9e9e9ec9;
    border: none;
    background: white;
    margin-left: 50px;
}
#play:focus{ 
    outline-color: white;
    color : orange;

}
.fa-play{
    font-size: 43px;
}
/*---------------------Conteneur MAP/INFOS STATIONS------------------------------*/
/*--------------------                              -----------------------------*/

/*-----------------------------------1----MAP-----------------------------------*/

#map_container{
    margin-top: 100px;
    display: flex;
    margin-left: -10%;
}

#map{ 
    height: 524px;
    width: 70%;
    margin-left: 10%;
    border: 2px black solid;
    z-index: 1;
    padding-right: 40px;
    
}
/*----------------------------2----INFOS DES STATIONS--------------------------*/
#infos_marqueurs{
    background: #0602028c;
    border: 2px solid black;
    border-left: 0px;
    margin-left: 0px;
    width: 300px;
    padding-left : 33px;
    padding-right: 40px;
}
.infos_marqueurs{
    background: #0602028c;
    border: 2px solid black;
    border-left: 0px;
    margin-left: 0px;
    width: 300px;
    padding-left : 33px;
    padding-right: 40px;
}
#infos_station{
    color: wheat;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2em;
    text-decoration: underline;
    margin-top: 4px;
}
.infos_marqueurs #infos_station{
    margin-bottom: 8px;
}
.div{
    display: flex;
    margin-top: 30px;
    width: 100%;
}
.infos_marqueurs .div{
    margin-top: 0;
    width: 110%;
    display: flex;
}
.infos{
    color: wheat;
    margin-top : 0px;
    margin-left: 67px;
}
.span{
    color: wheat;
    display: block;
    position: absolute;
    width: 65px;
}
#span_adresse{
    width: 30%;
}
#adresse{
    text-transform: lowercase;
    width: 100%;
}
.infos_marqueurs #velos_places_dispo{
    display: flex;
    position: absolute;
    right: 71px;
    margin-top: -5px;
}
.infos_marqueurs #velos_places_dispo #velos_dispo #nombre_velos{
    margin-left : 5px;
    color : #3a3a36d6;
    font-size : 1.2em;
    text-shadow: 0px 0px 0px;
}
.infos_marqueurs #velos_places_dispo #places_dispo #nombre_places{
    color : #3a3a36d6;
    margin-left : 5px;
    font-size : 1.2em;
    text-shadow: 0px 0px 0px;
}
.infos_marqueurs #velos_places_dispo #velos_dispo{
    margin: 10px 40px 0px 64px;
}
.infos_marqueurs #velos_places_dispo #places_dispo{
    margin-top: 10px;
}
#velos_dispo{
    display: flex;
    margin-top: 30px;
}
.infos_marqueurs #velos_dispo{
    opacity: 1;
}
#places_dispo{
    display: flex;
    margin-top: 30px;
}
.infos_marqueurs #places_dispo{
    opacity: 1;
}

.fa-bicycle{
    font-size : 28px;
    color: wheat;
    text-shadow: 0 0 5px black, 0 0 3px #da1414;
}

#velos_dispo #nombre_velos{
    margin-top: 0px;
    margin-left: 20px;
    color: wheat;
    margin: auto;
    font-weight: bold;
    text-shadow: -1px -2px 1px black;
}


.fa-parking{
    font-size : 28px;
    color: wheat;
    text-shadow: 0 0 5px black, 0 0 3px #da1414;
}

#places_dispo #nombre_places{
    margin-top: 0px;
    margin-left: 20px;
    color: wheat;
    margin: auto;
    font-weight: bold;
    text-shadow: -1px -2px 1px black;
}
/*--btn de réservation et d'annulation de la Resa--*/
.infos_marqueurs #btn_resa{
    opacity: 0;
    position: relative;
    left: 94%;    
}

#btn_resa, #btn_resa:focus{
    margin-top: 50px;
    color: wheat;
    font-size: 17px;
    margin-left: 30%;
    width: 150px;
    height: 50px;
    opacity: 0;
    border-radius: 4px;
    background-color: #545454;
    box-shadow: inset 0 0 0 0 #a29ea2ad;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
#btn_resa:hover {
    box-shadow: inset 150px 50px 0 0 wheat;
    background-color:#2f2e2bbf;
    color: black;
}
.infos_marqueurs #btn_cancel_resa{
    opacity: 0;
    position: relative;
    left: 94%;   
}
#btn_cancel_resa, #btn_cancel_resa:focus{
    position: absolute;
    margin-top: 50px;
    color: white;
    font-size: 17px;
    margin-left: 30%;
    opacity: 0;
    width: 197px;
    height: 50px;
    border-radius: 4px;
    background-color: rgb(211, 57, 57);
    box-shadow: inset 0 0 0 0 #ec7278;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
#btn_cancel_resa:hover {
    box-shadow: inset 150px 50px 0 0 #ec7278;;
    background-color:#E67E22;
}
/*----------------------------2.1---CONTENEUR CANVAS-----------------------------------*/
#canvas_container {
    opacity: 0;
    text-align: center;
    background: white;
    width: 123%;
    height: 335px;
    margin-top: -390px;
    margin-left: -9px;
    border: 4px solid black;
    box-shadow: 0px 0px 7px;
}
.infos_marqueurs #canvas_container{
    text-align: center;
    z-index: 2;
    background: white;
    width: 123%;
    height: 335px;
    opacity: 1;
    margin-left : -27px;
    margin-top: -210px;
    border: 4px solid black;
    box-shadow: 0px 0px 7px;
}
.infos_marqueurs #canvas_container #infos_station{
    margin-top: 5px;
}
.infos_marqueurs #canvas_container #div_nom{
    margin-top: -5px;
}
.infos_marqueurs #canvas_container #div_adresse{
    margin-top: 5px;

}
#canvas{
    display: block;
    margin: auto;
    border: 1px solid #000;
    background-color: white;
    border-radius: 20px;
    margin-top: -14px;
}
#cdt_sign{
    background: #d21414de;
    color: aliceblue;
    width: 212px;
    border-radius: 6px;
    position: absolute;
    margin-left: 4.5%;
    margin-top: -110px;
}

#titre_resa {
text-align: center;
background: wheat;
margin-top: 50px;
}
#div_name_resa{ 
margin-top: -7px;
width: 100%;
}
#div_name_resa label{
   margin-left: 0px;
}
#div_firstName_resa{
margin-top: 8px;
}
#div_firstName_resa label{
    margin-left: -15px;
}
#canvas_container form p{
margin-top: 9px;
width: 99%;
}
.infos_marqueurs #canvas_container form p{
    margin-top: 9px;
    width: 99%;
}

/*----------------------------Reservation---------------------------------*/
/*--------------------------              --------------------------------*/

#resa{
    background: #0602028c;
    border-color: rgb(80, 72, 61);
    box-shadow: 2px 1px rgb(80, 72, 61);
    height: 180px;
    width: 100%;
    opacity: 1;
}
#div_titre_resa{
    display: flex;
    height: 27%;
    background: wheat;
    padding-left: 12%;
}
#none_resa{
    color: wheat;
    text-align: center;
    margin-top: 40px;
    margin-right: 90px;
    font-size: 1.3em;
}
#div_titre_resa p{
    width: 40px;
    height: 40px;
    margin-top: 1px;
    border-radius: 50%;
    border: 2px solid black;
    text-shadow: 0 0 5px black, 0 0 3px #da1414;
    margin-left: 25%;
    
}
#div_titre_resa p span{
    top: 4px;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 15px;
    position: relative;
    color: white;
}
#div_titre_resa h2 {
color: black;
text-transform: capitalize;
margin-left: 2%;
margin-top: 0px;
padding-top: 1%;
}
#p_resa {
color:wheat;
position: relative;
width : 90%;
margin-left: 84px;
margin-top: -18px;
line-height: 1.9;
}
#p2_resa{
    width: 90%;
    margin-left: 84px;
    margin-top: 8px;
    color: wheat;
    opacity: 0;
}
#timer{
    margin-top: -24px;
    color: #f5a836e8;
}